@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --white: #ffffff;
    --grey: #333333;
    --light-grey: #f2f2f2;
    --semi-grey: #8f9193;
    --mid-grey: #858484;
}

/* sweet alert full content */
div#swal2-content {
    margin-bottom: 1em !important;
}
.swal2-modal {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 0 !important;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
}
/* sweet alert toast */
.swal2-popup.swal2-toast {
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0.4em !important;
    overflow-y: hidden;
    background: #fff;
    box-shadow: none !important;
    border: 1px solid #eaeaea !important;
}
.swal2-popup.swal2-toast .swal2-title{
    font-weight: 400 !important;
}

/* buttons sweet alert */
.swal2-actions button{
    border: 0;
    border-radius: 0 !important;
    background: initial;
    color: #fff;
    font-size: 13px !important;
}


/* sweet alert backend popup*/
.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
}

.swal2-popup .swal2-header .swal2-title{
    font-weight: 400 !important;
    font-size: 1.125em;
}
