#my__account {
    background: #f3f3f3;
}
#my__account .column__one,
#my__account .column__two {
    margin-top: 5em !important;
}
#my__account .column__one .sticky-top {
    position: sticky;
    top: 6em !important;
}
#my__account .column__one .column__one__content .card {
    box-shadow: none !important;
    border: none !important;
    border-radius: 0;
    transition: 0.5s ease-out;
}
#my__account .column__one .column__one__content .card .column__one__profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}
#my__account .column__one .column__one__content .card .card-body {
    border: none !important;
}
#my__account .column__one .column__one__content .card .card-body .list-group {
    border: none !important;
    border-radius: 0 !important;
}
#my__account
    .column__one
    .column__one__content
    .card
    .card-body
    .list-group
    .list-group-item:hover {
    background: var(--light-grey);
    transition: 0.1s;
}
#my__account
    .column__one
    .column__one__content
    .card
    .card-body
    .list-group
    .list-group-item {
    border: none !important;
    border-top: 1px solid var(--light-grey) !important;
    border-radius: 0 !important;
    color: #000000;
    font-weight: normal;
    font-size: 13px;
}
#my__account
    .column__one
    .column__one__content
    .card
    .card-body
    .list-group
    .list__group__active {
    background: var(--light-grey);
}
#my__account .column__two .card {
    box-shadow: none;
    border-radius: 0;
}
#my__account .column__two .card .card-header {
    border: none;
    border-bottom: 1px solid var(--light-grey);
    background: none;
}
#my__account .column__two .btn {
    background: var(--primary);
    box-shadow: none;
    color: #fff;
    border-radius: 0;
    text-transform: capitalize;
}
#my__account .column__two .order__details small {
    color: #7b7b7b;
    text-transform: capitalize;
    line-height: 1.5rem;
}
#my__account .column__two .order__details small span {
    color: #000000;
}
i {
    cursor: pointer !important;
}

@media only screen and (max-width: 575px) {
    #my__account .column__one .column__one__content .card {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    #my__account .column__one .column__one__content .card {
        display: none;
    }
    #my__account .column__one,
    #my__account .column__two {
        margin-top: 1em !important;
    }
}
