.buyer__identity a{
    box-shadow: none;
    color: #000000 !important;
    border-radius: 0;
}
.buyer__identity a:hover{
    box-shadow: none;
    background: #e6e6e6;
}
.modal__identity{
    position: fixed;
    background: #000000bd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1039;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-out;
}
.modal__identity.open{
    opacity: 1;
    pointer-events: all;
}
.full__view{
    position: absolute;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}
